$brandColourPrimaryGreen: #29a643;
$XMWhite: #fff;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  display: flex;
  justify-content: center;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.app {
  display: grid;

  grid-template-rows: 113px 617px 1110px 375px 643px 257px;

  width: 100%;
  margin: 0;
}

.header {
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  background-color: #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
  margin-right: auto;
  margin-left: 29px;
}

.nav {
  margin-left: auto;

  &__list {
    display: flex;
    gap: 46px;
    margin-right: 54px;
  }

  &__item {
  }

  &__link {
    text-decoration: none; /* Remove underline from links */
    font: inherit;
    color: $XMWhite;
    font-weight: 400;
    size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.heroSection {
  grid-row: 2 / 3;
  background: linear-gradient(
      180deg,
      rgba(32, 46, 71, 0.65) 18.3%,
      rgba(32, 46, 71, 0.62) 39.45%,
      rgba(32, 46, 71, 0.58) 60.61%,
      rgba(32, 46, 71, 0) 81.77%
    ),
    #201d27;
  mix-blend-mode: multiply;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $XMWhite;

  &__content {
    padding-top: 128px;
    width: 100%; /* Ensure it takes the full width */
    max-width: 621px; /* Ensure it doesn't exceed a max width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items within the content */
    justify-content: center;
  }

  h1 {
    color: $XMWhite;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;

    .highlight {
      font-weight: 700;
    }
  }

  h2 {
    color: #ddd;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 42px;
  }

  .heroDescription {
    width: 100%; /* Ensure it takes the full width */
    max-width: 463px; /* Ensure it doesn't exceed a max width */
    padding-top: 30px;
    padding-bottom: 30px;
    color: $XMWhite;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center; /* Center text content */

    &__highlight {
      font-weight: 700;
    }
  }

  .openAcountbutton {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 345px;
    height: 40px;
    margin-bottom: 30px;
    background: $brandColourPrimaryGreen;
    color: $XMWhite;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #218838;
    }
  }

  .demoAccount {
    color: $XMWhite;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    margin-bottom: 15px;
    &__link {
      color: $XMWhite;
    }
  }

  .termsConditions {
    color: $XMWhite;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 163px;
    &__highlight {
      color: #d51820;
    }
  }
}

.cryptosAndWhyTradeSection {
  grid-row: 3 / 4;
  background-color: #201d27;
}

.eventGallerySection {
  grid-row: 4 / 5;

  background-color: blueviolet;
}
.bigFairHuman {
  grid-row: 5 / 6;

  background-color: bisque;
}
.footer {
  grid-row: 6 / 7;

  background-color: black;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .logo {
    margin-right: auto;
    margin-left: auto;
  }
}
