$brandColourPrimaryGreen: #29a643;
$XMWhite: #fff;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $XMWhite;
  background-color: $XMWhite;
  display: flex;
  justify-content: center;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.app {
  display: grid;

  grid-template-rows: 113px 1fr 375px 643px 257px;

  width: 100%;
  margin: 0;
}

.header {
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  background-color: #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
  margin-right: auto;
  margin-left: 29px;
}

.nav {
  margin-left: auto;

  &__list {
    display: flex;
    gap: 46px;
    margin-right: 54px;
    list-style: none;
  }

  &__link {
    text-decoration: none;
    font: inherit;
    color: $XMWhite;
    font-weight: 400;
    size: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.main {
  grid-row: 2 / 3;
  position: relative;
  overflow: hidden;

  .bagroundImage {
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  .image-1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    background-image: url(public/images/desktop/general-0-swaps-desktop.png);
  }

  .image-2 {
    width: 590px;
    height: 727px;
    top: 759px;
    left: -250px;
    background-image: url(public/images/desktop/Gold-Number-02.png);
  }

  .image-2 {
    width: 437px;
    height: 887px;
    top: 23px;
    left: 1000px;
    background-image: url(public/images/desktop/Intersect-1.png);
  }

  .image-3 {
    width: 429px;
    height: 866px;
    top: -400px;
    left: -300px;
    background-image: url(public/images/desktop/Intersect.png);
  }

  .image-4 {
    width: 1078px;
    height: 1025px;
    top: 771px;
    background-image: url(public/images/desktop/Vector-4.png);
    filter: blur(80px);
  }
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(32, 46, 71, 0.65) 18.3%,
      rgba(32, 46, 71, 0.62) 39.45%,
      rgba(32, 46, 71, 0.58) 60.61%,
      rgba(32, 46, 71, 0) 81.77%
    ),
    #201d27;
  mix-blend-mode: multiply;
  z-index: -2;
}

.heroSection {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $XMWhite;

  &__content {
    padding-top: 128px;
    width: 100%;
    max-width: 621px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    color: $XMWhite;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
  }

  h2 {
    color: #ddd;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 42px;
  }

  .heroDescription {
    width: 100%;
    max-width: 463px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $XMWhite;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .openAcountbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 40px;
    margin-bottom: 30px;
    background: $brandColourPrimaryGreen;
    color: $XMWhite;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #218838;
    }
  }

  .demoAccount {
    color: $XMWhite;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    margin-bottom: 15px;
    &__link {
      color: $XMWhite;
    }
  }

  .termsConditions {
    color: $XMWhite;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 163px;
    &__highlightRed {
      color: #d51820;
      text-decoration: none; /* Remove underline from links */
    }
  }
}

.cryptosAndWhyTradeSection {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #201d27; // Solid background color
    z-index: -2; // Place behind everything else
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__cryptos {
    display: flex;
    flex-direction: row;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;

    &__card {
      &__error {
        width: 204px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 0.954px solid rgba(167, 167, 167, 0.2);
        background: rgba(221, 8, 8, 0.326);
      }
      width: 204px;
      height: 150px;
      border-radius: 14.309px;
      border: 0.954px solid rgba(167, 167, 167, 0.2);
      background: rgba(140, 140, 140, 0.1);
      display: flex;
      flex-direction: column;
      align-items: left;
      padding-top: 14px;
      padding-left: 11px;
      &__header {
        display: flex;
        align-items: center;
        gap: 7px;
        .crypto-icon {
          width: 33.39px;
          height: 33.39px;
        }

        .crypto-code {
          width: 30px;
          height: 18px;
          flex-shrink: 0;
          color: $XMWhite;
          text-shadow: 0px 0px 65.82px #ffc255;
          font-size: 13.355px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
        }

        .crypto-name {
          width: 51px;
          height: 15px;
          flex-shrink: 0;
          color: #000;
          text-shadow: 0px 0px 65.82px #ffc255;
          font-size: 8.585px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%;
          border-radius: 3.816px;
          background: #fff8d6;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .divider {
        width: 177px;
        height: 2px;
        flex-shrink: 0;
        opacity: 0.15;
        background: #fff;
        margin-top: 19.61px;
        margin-bottom: 13px;
      }

      .crypto-price {
        width: 105px;
        height: 25px;
        flex-shrink: 0;
        color: $XMWhite;
        text-shadow: 0px 0px 65.82px #ffc255;
        font-size: 19.078px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 10px;
      }

      .cryptoChange {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        width: 51px;
        height: 17px;
        flex-shrink: 0;
        text-shadow: 0px 0px 65.82px #ffc255;
        font-size: 13.355px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        &__icon {
          width: 7px;
          height: 11px;
        }
      }
      .cryptoChange_positive {
        color: #b1ffc2;
      }
      .cryptoChange_negative {
        color: #ffa3a6;
      }
    }
  }
  &__WhyTradeSection {
    width: 641px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      color: #fff;
      font-size: 35px;
      font-style: normal;
      font-weight: 300;
      line-height: 42.62px;
    }
    .divider {
      width: 70px;
      height: 2px;
      background: $brandColourPrimaryGreen;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    p {
      color: $XMWhite;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      text-align: center;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 157.143% */
    }
  }
  &__grid {
    margin-top: 32px;
    margin-bottom: 100px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 285px 285px;
    .box {
      border-radius: 10px;
      background: #0b0819;
      backdrop-filter: blur(45px);
      display: flex;
      flex-direction: column;
      padding-left: 52px;
      padding-top: 57px;
      h1 {
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
      }

      .divider {
        min-height: 2px;
        width: 50px;
        background: $brandColourPrimaryGreen;
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }

    .a {
      position: relative;
      grid-column: 1 / 1;
      grid-row: 1/3;
      h1 {
        width: 225px;
      }
      p {
        width: 225px;
        margin-bottom: 104px;
      }
      img {
        width: 100px;
        height: 212.121px;
        position: absolute;
        left: 42px; /* Position the image bottom left */
        bottom: 25.88px;
      }
    }
    .b {
      position: relative;
      grid-column: 2/4;
      grid-row: 1 / 2;
      h1 {
        width: 190px;
      }
      p {
        width: 405px;
        height: 40px;
      }
      img {
        width: 98px;
        height: 95.846px;
        position: absolute;
        top: 28px; /* Position the image at the top right */
        right: 26px;
      }
    }
    .c {
      position: relative;
      grid-column: 2/3;
      grid-row: 2/3;
      h1 {
        width: 161px;
      }
      p {
        width: 225px;
        height: 61px;
      }
      img {
        width: 72.318px;
        height: 74px;
        position: absolute;
        top: 28px; /* Position the image at the top right */
        right: 28.68px;
      }
    }
    .d {
      position: relative;
      grid-column: 3/4;
      grid-row: 2/3;
      padding-top: 74px;

      h1 {
        width: 162px;
      }
      p {
        width: 225px;
      }
      img {
        width: 48.628px;
        height: 75.056px;
        position: absolute;
        top: 28px; /* Position the image at the top right */
        right: 25.5px;
      }
    }
  }
}

.eventGallerySection {
  grid-row: 3 / 4;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #252525;
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 39px;
  }
  .carousel {
    display: flex;
    align-items: center;
    gap: 36px;
    padding-bottom: 48px;
    i {
      width: 17px;
      height: 32px;
      color: #959595;
    }

    .img {
      width: 170px;
      height: 170px;
    }
  }
}

.bigFairHuman {
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .bigLetters {
      max-width: 40%;
      .divider {
        width: 72.275px;
        min-height: 4px;
        background: #d51820;
      }
      h1 {
        color: #444;
        font-family: Roboto;
        font-size: 80px;
        font-style: normal;
        font-weight: 900;
        line-height: 90px;
        letter-spacing: -1.6px;
        margin-top: 39px;
        margin-bottom: 55px;
        width: 72.275px;
      }

      .highlightRed {
        color: #d51820;
      }

      p {
        color: #444;
        font-family: Roboto;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 23.879px;
      }
    }

    .descriptionCarts {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      max-width: 55%;
      position: relative;
      justify-content: flex-end;

      .cross {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 70%;
      }

      .cart {
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        img {
          width: 56.244px;
          height: 56.47px;
        }
        h1 {
          color: #444;
          font-family: Roboto;
          font-size: 19px;
          font-style: normal;
          font-weight: 700;
          line-height: 24.845px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        p {
          color: #444;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20.973px;
        }
        .A {
          img {
            width: 49.257px;
            height: 56.465px;
          }
        }
      }
    }
  }
}
.footer {
  grid-row: 5 / 6;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;

  &__up {
    display: flex;
    justify-content: space-between;
    .companies {
      display: flex;
      align-items: center;
      gap: 57px;
    }
    .social {
      display: flex;
      align-items: center;
      gap: 14px;
      h3 {
        color: #888;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 17.143px;
      }
      i {
        color: #bdbdbd;
        font-family: FontAwesome;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20.1px;
      }
    }
  }
  &__devider {
    height: 0.963px;
    background: #444;
    margin-top: 33px;
    margin-bottom: 29px;
  }
  &__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .policies {
      display: flex;
      color: #888;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 17.143px;
      a {
        text-decoration: none; /* Remove underline from links */
        color: #888;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 17.143px;
        margin: 0 10px; //left right
      }
    }
  }
}

.highlight {
  font-weight: 700;
}

@media (max-width: 768px) {
  .app {
    grid-template-rows: 94px 1fr 344px 726px 164px;
  }
  .nav {
    display: none;
  }
  .logo {
    margin-right: auto;
    margin-left: auto;
  }

  .cryptosAndWhyTradeSection__WhyTradeSection {
    width: 642px;
    margin-bottom: 60px;
    h1 {
      font-size: 32px;
    }
  }
  .cryptosAndWhyTradeSection__grid {
    grid-gap: 25px;
    grid-template-columns: 530px;
    grid-template-rows: 230px 230px 230px 230px;
    margin-bottom: 75px;
    .box {
      p {
        width: 305px;
        height: 40px;
      }
    }

    .a {
      grid-column: 1 / 2;
      grid-row: 1/2;
      padding-top: 40px;

      h1 {
        width: 175px;
      }

      img {
        width: 41.463px;
        height: 87.953px;
        top: 28px; /* Position the image at the top right */
        right: 44px;
        left: auto;
        bottom: auto;
      }
    }
    .b {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      img {
        width: 92.556px;
        height: 90.521px;
        top: 28px; /* Position the image at the top right */
        right: 26px;
      }
    }
    .c {
      grid-column: 1 / 2;
      grid-row: 3/4;
      img {
        width: 87.815px;
        height: 89.857px;
        top: 27.5px; /* Position the image at the top right */
        right: 28.5px;
      }
    }
    .d {
      grid-column: 1 / 2;
      grid-row: 4/5;
      img {
        width: 59px;
        height: 91px;
        top: 27px; /* Position the image at the top right */
        right: 37.5px;
      }
    }
  }
  .eventGallerySection {
    gap: 30px;

    h1 {
      padding-top: 75px;
      padding-bottom: 40px;
    }
    .carousel {
      padding-bottom: 75px;
      margin-left: 30px;
      margin-right: 30px;
      img {
        width: 130px;
        height: 130px;
      }
      img:nth-of-type(4) {
        display: none;
      }
    }
  }

  .bigFairHuman {
    padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;
    align-items: start;

    .container {
      flex-direction: column;
      align-items: center;
      .bigLetters {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 53px;
        h1 {
          width: 100%;
          color: #444;
          text-align: center;
          font-size: 41.881px;
          line-height: 48.265px;
          letter-spacing: -0.838px;
          margin-top: 25px;
          margin-bottom: 24px;
        }

        p {
          font-size: 16px;
          line-height: 33.879px;
        }

        .divider {
          width: 40px;
          height: 4px;
        }
      }

      .descriptionCarts {
        max-width: 100%;

        .cart {
          h1 {
            font-size: 19.773px;
            line-height: 23.393px;
          }

          p {
            font-size: 14px;
            line-height: 19.748px;
          }
        }
      }
    }
  }

  .footer {
    &__up {
      display: none;
    }
    &__devider {
      display: none;
    }
  }

  .main {
    .image-1 {
      top: 0;
      left: 0;
      width: 100%;
      height: 650px;
      background-image: url(public/images/tablet/general-0-swaps-tablet.png);
    }

    .image-2 {
      width: 590.084px;
      height: 726.848px;
      top: 759px;
      left: -250px;
      background-image: url(public/images/tablet/general-0-swaps-tablet.png);
    }

    .image-2 {
      width: 377px;
      height: 464px;
      top: 813px;
      left: -200px;
      background-image: url(public/images/desktop/Gold-Number-02.png);
    }

    .image-3 {
      width: 274px;
      height: 553px;
      top: -100px;
      left: -100px;
      background-image: url(public/images/desktop/Intersect.png);
    }

    .image-4 {
      width: 671px;
      height: 1346px;
      top: 566px;
      right: 75px;
      filter: blur(51.17951965332031px);

      background-image: url(public/images/desktop/Vector-4.png);
    }
  }

  .heroSection {
    h1 {
      font-size: 28px;
    }

    .heroDescription {
      font-size: 14px;
    }
  }
}

@media (max-width: 320px) {
  .app {
    grid-template-rows: 95px 1fr 275px 1088px 225px;
  }

  .cryptosAndWhyTradeSection__cryptos__card {
    width: 236px;
    height: 144px;
  }
  .cryptosAndWhyTradeSection__cryptos {
    gap: 33px;
  }
  .cryptosAndWhyTradeSection__WhyTradeSection {
    width: 280px;
    h1 {
      font-size: 32px;
      font-weight: 300;
      line-height: 43px;
      width: 210px;
    }
  }
  .cryptosAndWhyTradeSection__grid {
    grid-gap: 25px;
    grid-template-columns: 280px;
    grid-template-rows: 235px 235px 235px 235px;
    margin-bottom: 55px;

    .box {
      padding-left: 30px;
      padding-top: 42px;
      .divider {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      p {
        width: 190px;
        line-height: 20px;
      }
    }

    .a {
      img {
        width: 27px;
        height: 57px;
        top: 19.2px; /* Position the image at the top right */
        right: 27.5px;
      }
    }
    .b {
      img {
        width: 60px;
        height: 59px;
        top: 18.78px; /* Position the image at the top right */
        right: 17.56px;
      }
    }
    .c {
      img {
        width: 57px;
        height: 58px;
        top: 18.43px; /* Position the image at the top right */
        right: 19px;
      }
    }
    .d {
      padding-top: 55px;
      img {
        width: 38px;
        height: 59px;
        top: 18.17px; /* Position the image at the top right */
        right: 23.24px;
      }
    }
  }

  .eventGallerySection {
    gap: 25px;
    h1 {
      font-size: 24px;
      padding-top: 55px;
      padding-bottom: 40px;
    }
    .carousel {
      padding-bottom: 55px;
      margin-left: 15px;
      margin-right: 15px;
      img {
        width: 100px;
        height: 100px;
      }
      img:nth-of-type(3),
      img:nth-of-type(4),
      img:nth-of-type(5) {
        display: none;
      }
    }
  }

  .bigFairHuman {
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
    .container {
      .bigLetters {
        align-items: center;
        margin-bottom: 65px;

        h1 {
          font-size: 35px;
          line-height: 48.265px;
          letter-spacing: -0.7px;
          margin-top: 22px;
          margin-bottom: 23px;
        }

        p {
          font-size: 14px;
          font-weight: 700;
          line-height: 21px;
        }
      }

      .descriptionCarts {
        flex-wrap: nowrap;
        flex-direction: column;

        .cross {
          display: none;
        }

        .cart {
          align-items: center;
          justify-content: center;
          h1 {
            font-size: 19.773px;
            line-height: 23.393px;
            text-align: center;
          }

          p {
            text-align: center;
            font-size: 14px;
            line-height: 19.748px;
          }
        }
      }
    }
  }

  .footer {
    padding-top: 62px;
    padding-left: 12px;
    padding-right: 12px;

    &__down {
      flex-direction: column;
      gap: 24px;
    }
  }

  .main {
    .image-1 {
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background-image: url(public/images/mobile/general-0-swaps-mobile.png);
    }

    .image-2 {
      width: 590px;
      height: 727px;
      top: 759px;
      left: -250px;
      background-image: url(public/images/tablet/Gold-Number-02.png);
    }

    .image-2 {
      width: 151px;
      height: 305px;
      top: 380px;
      left: 300px;
      background-image: url(public/images/mobile/Intersect-1.png);
    }

    .image-3 {
      width: 105px;
      height: 240px;
      top: 53px;
      left: -50px;
      background-image: url(public/images/mobile/Intersect.png);
    }

    .image-4 {
      width: 151px;
      height: 161px;
      top: 650px;
      left: 300px;
      background-image: url(public/images/mobile/zero-mobile-bigger-tinted.png);
    }
  }

  .heroSection {
    &__content {
      padding: 30px;
    }

    h1 {
      display: flex;
      width: 260px;
      height: 145px;
      flex-direction: column;
      justify-content: center;

      font-size: 28px;
      line-height: 38px;
    }

    .openAcountbutton {
      width: 290px;
      height: 40px;
    }

    .termsConditions {
      width: 244px;
      height: 30px;
      text-align: center;
      line-height: 18px;
      margin-bottom: 99px;
    }
  }
}
